html, body {
    font-family:Roboto;
}

.container {
    padding: 0.5rem;
}

.navbar .container, .navbar-top .container {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    color:#626262;
}

.navbar-top .container .hours i {
   color: #2baaec;
   margin-right: 0.3rem;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}
 
.navbar .container, .navbar-top .container {
    display: flex;
    justify-content: space-between;  
    align-items: center;
}



